venv/
.env

__pycache__/
*.py[cod]
*$py.class

*.log
django.log
debug.log
security.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

.vscode/
.idea/

.pylintrc

*/migrations/__pycache__/
*/migrations/*.py[cod]

*.pot
*.mo
*.pyc
